/PrimoMVC/build/
/PrimoMVC/dist/
/DivisoresREST/nbproject/private/
/Primo/nbproject/private/
/PrimoMVC/nbproject/private/
/PrimoREST/nbproject/private/
/PrimoREST/build/
/CalculadoraREST/nbproject/private/
/CalculadoraREST/build/